.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  z-index: 1;
  transition: all .2s ease-in-out;
}
  
.feynman__link:hover {
  opacity: .5;
}