.section-title {
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  text-rendering: optimizeLegibility;
}