@use 'base';

.feynman {
  min-height: 790px;
  background-color: base.$submain;
  padding: 80px 0 0;
  text-align: center;
  position: relative;
  &__title {
    width: 648px;
    margin: auto;
    line-height: 115%;
    font-size: 120px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    margin-bottom: 70px;
    color: base.$contrast;
  }
  &__subtitle {
    margin: auto;
    line-height: 51px;
    font-size: 36px;
    position: relative;
    z-index: 1;
    color: base.$contrast;
  }
  &__photo {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 867px;
    height: 637px;
  }
  &__link {
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    z-index: 1;
    transition: all 0.2s ease-in-out;
    color: base.$contrast;
    &:hover::after {
      transform-origin: left;
      transform: scaleX(1);
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: base.$contrast;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 550ms;
    }
  }
}
