@use 'base';

.footer {
  background-color: base.$subcontrast;
  color: base.$submain;
  padding: 60px 0 40px;
  min-height: 350px;
  display: flex;
  &__columns {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  &__column {
    display: flex;
    flex-direction: column;
    &__column_content_copyright {
      flex-basis: 711px;
      justify-content: space-between;
    }
  }
  &__author {
    margin: 18px 0;
    line-height: 25px;
    font-size: 18px;
  }
  &__column-heading {
    margin: 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
  }
  &__column-links {
    list-style: none;
    line-height: 30px;
    font-size: 18px;
    margin: 20px 0 16px;
    padding: 0;
    color: base.$submain;
  }
  &__link {
    text-decoration: none;
    position: relative;
    color: base.$submain;
    transition: all .2s ease-in-out;
    &:hover::after {
      transform-origin: left;
      transform: scaleX(1);
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: base.$submain;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 550ms;
    }
  }
  &__social-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    align-items: center;
    transition: all .2s ease-in-out;
  }
}