@use 'base';

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  align-items: center;
  background-color: base.$submain;
  color: base.$contrast;
  overflow: hidden;
  &__link {
    color: base.$accent;
    position: relative;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    &:hover::after {
      transform-origin: left;
      transform: scaleX(1);
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: base.$accent;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 550ms;
    }
  }
  &__main-illustration {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 765px;
    height: 608px;
    z-index: 1;
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.2));
  }
  &__square-pic {
    position: absolute;
    top: 64px;
    right: 0;
    width: 568px;
    height: 568px;
    background-color: base.$accent;
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.2));
  }
  &__subtitle {
    width: 388px;
    position: absolute;
    margin: 0;
    left: 64px;
    bottom: 30px;
    line-height: 25px;
    font-size: 18px;
    z-index: 2;
  }
  &__title {
    width: 730px;
    margin-left: 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    z-index: 2;
  }
}
