.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  align-items: center;
  background-color: #f2f2f2;
  color: #000;
  overflow: hidden;
  &__link {
    color: #2f80ed;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 0.5;
    }
  }
  &__main-illustration {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 765px;
    height: 608px;
    z-index: 1;
  }
  &__square-pic {
    position: absolute;
    top: 64px;
    right: 0;
    width: 568px;
    height: 568px;
    background-color: #2f80ed;
  }
  &__subtitle {
    width: 388px;
    position: absolute;
    margin: 0;
    left: 64px;
    bottom: 30px;
    line-height: 25px;
    font-size: 18px;
    z-index: 2;
  }
  &__title {
    width: 730px;
    margin-left: 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    z-index: 2;
  }
}
