@use 'base';

.kaufman {
  background-color: base.$subcontrast;
  padding: 90px 0;
  display: flex;
  z-index: 1000;
  flex-direction: column;
  align-items: center;
  position: relative;
  & h2, p {
    color: base.$submain;
  }
  &__triangle {
    position: absolute;
    right: -210px;
    top: 0;
    width: 877px;
    height: 877px;
    background-size: contain;
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.2));
  }
}