.khan {
  background-color:  #f2f2f2;
  padding: 105px 0 0;
  &__container {
    width: 80%;
    margin: 0 auto;
  }
  &__author {
    margin: 0;
    line-height: 42px;
    font-size: 30px;
  }
  &__title {
    margin: 0 0 50px;
    line-height: 115%;
    font-size: 60px;
    font-weight: bold;
  }
  &__blockquote {
    margin: 0;
  }
  &__quote {
    margin: 0 0 36px;
    width: 790px;
    line-height: 34px;
    font-size: 24px;
  }
  &__author {
    margin: 0;
    line-height: 42px;
    font-size: 30px;
  }
  &__quote-author-subline {
    margin: 0 0 68px;
    line-height: 115%;
    font-size: 24px;
  }
  &__book-container {
    display: flex;
    align-items: flex-start;
  }
  &__book-pic {
    width: 620px;
    height: 608px;
    margin-right: 48px;
    object-fit: cover;
    object-position: top center;
  }
  &__buy-link {
    line-height: 42px;
    font-size: 30px;
    color: #2f80ed;
    text-decoration: none;
    transition: all .2s ease-in-out;
    &:hover {
      opacity: .5;
    }
  }
}