.resources {
  padding: 100px 0 217px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  &__link:hover &__logo  {
    transform: scale(1.2);
    cursor: pointer;
  }
  &__logo {
    transition: all .2s ease-in-out;
    width: 270px;
    height: 38px;
  }
  &__logo-zone {
    width: 1100px;
    margin: 80px auto 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
  }
}