@use 'base';

.table {
  display: flex;
  width: 1100px;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;
  color: base.$contrast;
  &__heading {
    line-height: 115%;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px;
  }
  &__text {
    line-height: 120%;
    font-size: 18px;
    margin: 0 0 20px;
    &:last-child {
      margin: 0;
    }
  }
  &__cell {
    width: 250px;
    margin: 60px 0 0;
    list-style: none;
    &.table__cell_theme_dark {
      width: 200px;
      margin: 80px 0 0;
    }
  }
  &_theme_dark {
    color: base.$submain;
  }
}