@import url(./__title/feynman__title.css);
@import url(./__subtitle/feynman__subtitle.css);
@import url(./__photo/feynman__photo.css);
@import url(./__link/feynman__link.css);

.feynman {
  min-height: 790px;
  background-color:  #f2f2f2;
  padding: 80px 0 0;
  text-align: center;
  position: relative;
}