@import url(./__columns/footer__columns.css);
@import url(./__column/footer__column.css);
@import url(./__author/footer__author.css);
@import url(./__column-heading/footer__columns-heading.css);
@import url(./__column-links/footer__column-links.css);
@import url(./__link/footer__link.css);
@import url(./__social-icon/footer__social-icon.css);
@import url(./logo/_place_footer/logo_place_footer.css);
@import url(./_content/footer__column_content_copyright.css);
@import url(./_content/footer__column_content_info.css);
@import url(./_content/footer__column_content_social.css);

.footer {
  background-color: #1f1f1f;
  color: white;
  padding: 60px 0 40px;
}