.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

  /* Блок 1. Шапка сайта */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  align-items: center;
  background-color:  #f2f2f2;
  color: #000;
}

.logo {
  width: 183px;
}

.logo_place_header {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 64px;
  height: 32px;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  margin: 0;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
}

  /* Блок 2. секция description*/

.description {
  display: flex;
  justify-content: center;
  padding: 100px 0 0;
}

.two-columns {
  width: 80%;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 120%;
  font-size: 18px;
  color: #2f80ed;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin: 0 0 30px;
}

.two-columns__paragraph:nth-child(3) {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

  /* Конец блока 2. */

  /* Блок 3. секция digits*/

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.section-title {
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  position: relative;
  z-index: 1;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  text-align: center;
  margin: 0;
  position: relative;
  z-index: 1;
}

.table {
  display: flex;
  width: 1100px;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  position: relative;
  z-index: 1;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  list-style: none;
}

.content__digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.title-indent {
  margin-bottom: 20px;

}

.table__heading {
  line-height: 115%;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px;
}

.table__text {
  line-height: 120%;
  font-size: 18px;
  margin: 0 0 20px;
}

.table__text:nth-child(3) {
  margin: 0;
}

  /* Конец блока 3. */

  /* Блок 4. секция feynman*/

  .feynman {
  min-height: 790px;
  background-color:  #f2f2f2;
  padding-top: 100px;
  text-align: center;
  position: relative;
}

.feynman__title {
  width: 648px;
  margin: auto;
  line-height: 115%;
  font-size: 120px;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.feynman__subtitle {
  margin: auto;
  line-height: 51px;
  font-size: 36px;
  position: relative;
  z-index: 1;
}

.feynman__photo {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  z-index: 1;
}

.feynman-title-indent {
  margin-bottom: 70px;
}

  /* Конец блока 4. */

  /* Блок 5. секция kaufman*/

.kaufman {
  background-color: #1f1f1f;
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
}

.table_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  margin-right: 0;
  color: white;
}

  /* Конец блока 5. */

  /* Блок 6. Подвал сайта*/

.footer {
  background-color: #1f1f1f;
  color: white;
  padding: 60px 0 40px;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 60px auto 40px;
  min-height: 350px;
}

.footer__author {
  margin: 18px 0;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}


.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  height: 35px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  margin: 20px 0 16px;
  padding: 0;
  color: white;
}

.footer__links {
  text-decoration: none;
  color: white;
}


.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  align-items: center;
}

  /* Конец блока 6. */

